<!-- Toolbar -->
<div class="navbar navbar-dark bg-primary" role="banner">
    <a class="col align-self-center" title="Enzoklop [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Rock-paper-scissors.svg">
      <img width="50px" height="50px" alt="Rock-paper-scissors" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Rock-paper-scissors.svg/256px-Rock-paper-scissors.svg.png">
    </a>
  <span>{{title}}</span>
</div>

  <div class="container pt-2">
    <div class="row justify-content-between pt-1">
        <button class="btn btn-success col" (click)="playRound()">Play Round</button>
        <button class="btn btn-danger col" (click)="restart()">Restart Game</button>
        <button class="btn btn-info col" (click)="showStatistics()">Statistics</button>
    </div>
    <div class="row justify-content-between pt-1" *ngIf="gameSession.roundsPlayed.length > 0">
        <div class="col">
          Player One
        </div>
        <div class="col">
            Player Two - This player Rocks!
        </div>
    </div>
    <div class="row justify-content-between pt-2">
      <div class="col-sm">
        <img src="assets/img/{{lastPlayedRound.playerOneMove}}.png" 
            alt="" width="130px" height="145px"/>
      </div>
      <div class="col-sm">
        <img src="assets/img/{{lastPlayedRound.playerTwoMove}}.png" 
            alt="" width="130px" height="145px"/> 
      </div>
    </div>  
    <div class="container" *ngIf="gameSession.roundsPlayed.length > 0">
      <div class="row justify-content-around pt-2">
        <h6 col self-align-start>Rounds Played: {{gameSession.roundsPlayed.length}}</h6>
      </div>
      <div class="row justify-content-around">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Player 1 Move</th>
                <th scope="col">Player 2 Move</th>
                <th scope="col">Result</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let round of gameSession.roundsPlayed">
                <td><img src="assets/img/{{round.playerOneMove}}.png" alt="" 
                  width="65px" height="72px" style="background: white"/></td>
                <td><img src="assets/img/{{round.playerTwoMove}}.png" alt="" 
                  width="65px" height="72px" style="background: white" /></td>
                <td class="badge badge-success mx-auto">{{round.roundResult | roundresult}}</td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>


<router-outlet></router-outlet>